header {
    display: inline-flex;
    max-width: 1300px;
    width: 100%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: #F9F0DA;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input,
.button-header {
    border: none;
    outline: none;
    border-radius: 3px;
}

input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}

.button-header {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}

.button-header:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}

.header-container,
.header-button {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.flex-container-banner {

    display: flex;
    max-width: 1300px;
    width: 100%;
    padding-top: 322px;
    padding-bottom: 189px;
    background-image: url(//../assets/images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #F9F0DA;
    flex-direction: column;
    justify-content: flex-start;

}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
}

.W1,
.flex-text-banner {
    display: flex;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.container {
    display: flex;
    background-color: black;
    max-width: 1300px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}


h3 {
    color: white;
    font-size: 20px;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

h4 {
    color: white;
    font-size: 10px;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

article p {
    display: grid;
    justify-items: center;

    color: #f9f0da;

}

.container1 {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . ."
        ". . . . . .";
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . ."
        ". . . . . .";
}

.footer {
    display: flex;
    background-color: black;
    color: white;
    font-size: 300;
}