.bg-image {
    width: 300px;
    background-image: url("./plane.jpg");
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 300px 0;

}

@media (min-width: 631px) {

    .bg-image {

        background-position: 0 0;

    }
}

main {}

/*.image {
    width: 300px;
}*/